@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 8, 8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
